<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AssociatedBundleIdentifiers</key>
	<array>
		<string>placeholder.bundle.id</string>
	</array>
	<key>BundleProgram</key>
	<string>Contents/Library/HelperTools/FanControlHelper</string>
	<key>Label</key>
	<string>placeholder.fancontrol.helper</string>
	<key>MachServices</key>
	<dict>
		<key>placeholder.fancontrol.helper</key>
		<true/>
	</dict>
	<key>RunAtLoad</key>
	<false/>
	<key>UserName</key>
	<string>root</string>
</dict>
</plist>
